body{
 background-color: black;
 color : #bdc3c7;
}
h1{
    color : yellow;
    font-size : 50px;
    font-family : "Masked Hero Demo";
    font-style: bold;
}
h4{
    font-family: "Arial";
    font-size : 25px;
    color : lawngreen;
    font-style: bold;
}
h3{
    font-family: "Arial";
    font-size : 30px;
    color : yellow;
    font-style: bold;
    text-align: center;
}
i{
    font-family : "Bebas Neue Cyrillic";
    color : lawngreen;
}
li{
    background-color: black;
    color : white;
    font-family : "Bebas Neue Cyrillic";
    font-size :  20px;
}
b{
    color : white;
}
p{
    background-color: black;
    color : white;
    font-family : "Bebas Neue Cyrillic";
    font-size :  20px;
}
footer{
    color : #00ff00;
    background : black;
    color : lawngreen;
}
iframe{
    
}